@import "@src/util/variables";

.password-input {
  color: $primary-green;

  &__info-tooltip {
    height: 0.75rem;
    width: 0.75rem;
  }

  &__eye-tooltip {
    height: 0.75rem;
    width: 0.75rem;
  }

  &__info-icon {
    color: $primary-green;
    cursor: pointer;
  }

  &__adornment {
    height: initial !important;
    max-height: initial  !important;
  }
}
