@import "@src/util/variables";

.identities-content {
  height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
}

.create-identity-row {
  &__active {
    width: 100%;

    &:hover {
      color: $gray-300;

      .icon {
        color: $primary-green;
      }
    }
  }

  &__not-active {
    width: 100%;

    &:disabled {
      color: $gray-600;
    }
  }
}
