dist/
node_modules/
coverage/
test-results/
playwright-report/
playwright/.cache/
tmp/
pnpm-lock.yaml
**/dist/
**/node_modules/
**/coverage/
**/test-results/
**/playwright-report/
**/playwright/.cache/
**/tmp/
**/.parcel-cache/
packages/app/src/static/
packages/demo/src/static/
packages/demo/scripts/
packages/app/src/manifest/
CHANGELOG.md
.eslintignore
