@import "@src/util/variables";

.activity-row {
  @extend %row-nowrap;
  align-items: center;
  display: flex;
  border-bottom: 1px solid $gray-900;
  cursor: pointer;

  &:hover {
    background-color: $gray-950;
  }

  &__menu-icon {
    font-size: 0.8125rem !important;
    color: $gray-600;

    &:hover {
      color: $gray-300;
    }
  }
}
