@import "@src/util/variables";

.activity-content {
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.activity-container {
  position: absolute;
  top: 56px;
  width: 100%;
}

.activity-row {
  width: 100%;

  &:hover {
    color: $gray-300;

    .icon {
      color: $primary-green;
    }
  }
}
