@import "@src/util/variables";

.login {
  color: $primary-green;

  &__content {
    .login-icon {
      width: 8rem !important;
      height: 8rem !important;
    }

    .eye-tooltip {
      height: 0.75rem !important;
      width: 0.75rem !important;
    }
    
    .eye-icon {
      color: $primary-green;
      cursor: pointer;
    }
  }
}
