@import "@src/util/variables";

.verifiable-credential-content {
  overflow-x: hidden;
  overflow-y: auto;
  top: 56px;
  bottom: 56px;
  position: absolute;
  width: 100%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.verifiable-credential-footer {
  bottom: 0;
  position: absolute;
  height: 56px;
  width: 100%;
}

.create-verifiable-credential-row {
  &__active {
    width: 100%;

    &:hover {
      color: $gray-300;

      .icon {
        color: $primary-green;
      }
    }
  }
}
