@import "@src/util/variables";

.tab__list {
  position: relative;
  height: 100%;
  width: 100%;

  &__tabs {
    position: absolute;
    overflow: hidden;
    top: 0;
    height: 56px;
    width: 100%;
  }
}
