@import "@src/util/variables";

.identities-content {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  
  /* Hide the scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}