@import '../../../util/variables';

.home {
    position: relative;

    &__info {
        @extend %col-nowrap;
        padding: 0.5rem 1rem;
    }

    &__scroller {
        &::-webkit-scrollbar {
            display: none;
        }

        .home__list__fix-header {
            display: none;
        }

        &--fixed-menu {
            .home__list__header {
                //display: none;
            }

            .home__list__fix-header {
                display: flex;
                position: absolute;
                top: 64px;
                left: 0;
                width: 100%;
                background-color: $bg-black;
            }
        }
    }

    &__connection-button {
        @extend %row-nowrap;
        align-items: center;
        width: fit-content;
        padding: 0.25rem;
        border-radius: 1rem;
        margin: 0.5rem 0;

        &--connected {
            cursor: pointer;
            &:hover {
                background-color: $gray-800;
            }
        }

        &__icon {
            width: 0.5rem;
            height: 0.5rem;
            background-color: $gray-500;
            border-radius: 50%;
            margin: 0.25rem 0.5rem 0.25rem 0.25rem;

            &--connected {
                background-color: $success-green;
            }
        }

        &__text {
            color: $gray-300;
            margin-right: 0.5rem;
        }
    }

    &__list {
        @extend %col-nowrap;
        flex: 1 1 auto;

        &__header {
            @extend %row-nowrap;

            &__tab {
                @extend %row-nowrap;
                justify-content: center;
                align-items: center;
                flex: 1 1 auto;
                cursor: pointer;
                padding: 1rem;
                border-bottom: 2px solid $gray-800;

                &--selected {
                    border-color: $primary-green;
                }
            }
        }

        &__content {
            flex: 1 1 auto;
            background-color: $black;
        }
    }
}

.identity-row {
    @extend %row-nowrap;
    align-items: center;
    border-bottom: 1px solid $gray-900;
    cursor: pointer;

    &:hover {
        background-color: $gray-950;
    }

    &__select-icon {
        font-size: 0.8125rem !important;
        border: 2px solid $gray-800;
        color: $gray-800;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        margin-right: 1rem;
        padding: 0.25rem;

        &:hover {
            color: $primary-green;
            border-color: $primary-green;
        }

        &--selected {
            color: $primary-green;
            border-color: $primary-green;
        }
    }

    &__menu-icon {
        font-size: 0.8125rem !important;
        color: $gray-600;

        &:hover {
            color: $gray-300;
        }
    }
}

.create-identity-row {
    &:hover {
        color: $gray-300;

        .icon {
            color: $primary-green;
        }
    }
}
