@import "@src/util/variables";

.home {
  position: relative;

  &__scroller {
    &::-webkit-scrollbar {
      display: none;
    }

    &--fixed-menu {
      .tab__list__fix-header {
        display: flex;
        position: absolute;
        top: 64px;
        left: 0;
        width: 100%;
        background-color: $bg-black;
      }
    }
  }
}

