.input-group {
  .icon {
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    margin-right: 0.75rem;
    height: 0.75rem;
    width: 0.75rem;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.8;
    }
  }
}
