@import "@src/util/variables";

.identities-content {
  overflow-x: hidden;
  overflow-y: auto;
  height: 330px;
  width: 100%;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.create-identity-row {
  &__active {
    width: 100%;

    &:hover {
      color: $gray-300;

      .icon {
        color: $primary-green;
      }
    }
  }
}
