@import "@src/util/variables";

.activity-content {
  height: 375px;
  overflow-x: hidden;
  overflow-y: auto;
}

.activity-row {
  width: 100%;

  &:hover {
    color: $gray-300;

    .icon {
      color: $primary-green;
    }
  }
}
