@import '../../../util/variables';

.menuable {
    position: relative;

    &__menu {
        position: absolute;
        margin-top: 0.5rem;
        top: 100%;
        left: 0;
        background-color: $black;
        border-radius: 0.75rem;
        padding: 0.5rem 0;
        z-index: 300;

        &__item {
            @extend %row-nowrap;
            align-content: center;
            padding: 0.5rem 1rem;
        }
    }
}
